* {
    box-sizing: border-box;
    font-size: 62.5%;

    /* colors */
    --borderColor: rgb(225, 228, 230);
    --gray: #31383d;
    --green: #24b353;
    --lightBlue: #f7fafc;
    --lightBlueSecond: #e9f7ff;
    --lightBlueThird: #77b6e6;
    --ligthGray: #6b737a;
    --mainBlue: #1f509e;
    --secondBlue: #3466b8;
    --thirdBlue: #2156ac;
    --white: #fff;

    /* border radius */
    --borderRadius: 32px;

    /* padding set */
    --padding: 40px 28px;

    /* font sizes */
    --little: 0.8rem;
    --littlePlus: 1.2rem;
    --characteristics: 1.6rem;
    --characteristicsPlus: 2rem;
    --description: 2.4rem;
    --descriptionPlus: 2.8rem;
    --title: 3.6rem;
    --titlePlus: 4.4rem;

    /* font weigths */
    --bold: 600;
    --heavy: 800;
    --light: 300;
    --normal: 400;
    --regular: 500;

    /* font family */
    --inter: "Inter", sans-serif;
    --nexa: "Nexa", sans-serif;
}

.mainInfo--description__title {
    color: var(--gray);
    font-size: var(--characteristicsPlus);
    font-weight: var(--normal);
    line-height: 32px;
    margin-bottom: 20px;
}

.faq {
    background-color: var(--lightBlue);
    border-radius: var(--borderRadius);
    margin: 40px auto 80px auto;
    padding: 40px 28px;
}

.faqCard--title {
    font-family: var(--nexa);
    font-size: var(--titlePlus);
    font-weight: var(--heavy);
    line-height: 5rem;
    margin-bottom: 80px;
}

.faqCard--name {
    font-family: var(--nexa);
    font-size: var(--description);
    font-weight: var(--heavy);
    line-height: 3.2rem;
    margin-bottom: 8px;
}

.faqCard--des {
    font-size: var(--characteristicsPlus);
    font-weight: var(--normal);
    line-height: 28px;
    margin-bottom: 80px;
    margin-top: 0px;
}

.bottom {
    margin-bottom: 0px;
}

.faq--knowMore {
    color: var(--ligthGray);
    margin-top: 40px;
    text-align: center;
    text-decoration: underline;
}

.faq--knowMore_a {
    color: var(--ligthGray);
    font-size: var(--characteristics);
    font-weight: var(--regular);
}

.testimonial {
    background-color: var(--white);
}

@media (min-width: 481px) {
    .wasteMoney--img {
        border-radius: 0px;
        display: block;
        margin: auto;
        width: 72%;
    }
}
@media (min-width: 880px) {
    .wasteMoney--img {
        border-radius: 0px;
        display: block;
        margin: auto;
        width: 50%;
    }
}
